<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="name" ng-model='user.username' ng-minlength=3 ng-maxlength=20 required>
    <input type="password" ng-model='user.password'>
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
   <p></p><small class="error"
        ng-show="signupForm.name.$error.required">
        Your name is required.
    </small>
        <small class="error"
            ng-show="signupForm.name.$error.minlength">
            Your name is required to be at least 3 characters
    </small>
    <small class="error"
            ng-show="signupForm.name.$error.maxlength">
            Your name cannot be longer than 20 characters
    </small>
</div>
